<md-card class="form">
  <form [formGroup]="product" (ngSubmit)="submit(product)">
    <div fxLayout='column' fxLayoutAlign="space-between" class="form-group">
      <md-input-container fxFlex="100">
        <input mdInput placeholder="title" #title formControlName="title" required>
        <md-hint align="end" *ngIf="product.controls['title'].errors && product.controls['title'].touched">
          You can't leave this empty. Choose your username
        </md-hint>
      </md-input-container>
      <md-input-container fxFlex="100">
        <input mdInput placeholder="description" #description formControlName="description" required>
        <md-hint align="end" *ngIf="product.controls['description'].errors && product.controls['description'].touched">
          You can't leave this empty. Choose your username
        </md-hint>
      </md-input-container>
    </div>
    <div fxLayout='row' class="form-group" *ngFor="let img of product.controls['photos'].value">
      <img class="img" md-card-image [src]="img">
    </div>
    <div fxLayout='column' fxLayoutAlign="space-between" class="form-group">
      <md-input-container fxFlex="100">
        <input mdInput placeholder="tags" #tags formControlName="tags" formControlName="tags" required>
      </md-input-container>
    </div>
    <button md-button disabled="product.invalid">Next step</button>
  </form>
</md-card>
