<md-card class="form">
  <form [formGroup]="authForm" (ngSubmit)="submit(authForm)">
    <div fxLayout='row' fxLayoutAlign="space-between">
      <md-input-container fxFlex="45" >
        <input mdInput placeholder="name" #name  formControlName="name">
      </md-input-container>
      <md-input-container fxFlex="45" >
        <input mdInput placeholder="surname" #surname required>
      </md-input-container>
    </div>
    <div fxLayout='column' fxLayoutAlign="space-between">
      <md-input-container >
        <input mdInput placeholder="Email" #email required>
      </md-input-container>
      <md-input-container >
        <input mdInput placeholder="Create a password" #password required>
      </md-input-container>
      <md-input-container >
        <input mdInput placeholder="Cinfirm your password" #password required>
      </md-input-container>
    </div>
    <div fxLayout='row' fxLayoutAlign="space-between">
      <h3 fxFlex="100">Birthday</h3>
      <md-input-container fxFlex="10" >
        <input mdInput placeholder="day">
      </md-input-container>
    </div>
    <div fxLayout='column' fxLayoutAlign="space-between">
      <md-select placeholder="Gender" formControlName="gender">
        <md-option *ngFor="let gender of genders" [value]="gender">
          {{ gender }}
        </md-option>
      </md-select>
    </div>
    <button md-button>Next step</button>
  </form>
</md-card>
