.form {
  width: 600px;
  /*float: left;*/
}

.form-group {
  margin:15px 0;
}
md-select.mat-select {
    margin-top: 9px;
}

/*input.ng-valid{
  border: 1px solid green;
}

input.ng-pending{
  border: 1px solid blue;
}
input.ng-invalid{
  border: 5px solid red;
}*/
input[tabindex=2]{
border: 5px solid red;
}
